@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@layer components {
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 400px;
      background-color: rebeccapurple;
      border-radius: 8px;
      border: 0.7px solid white;

    }
}